%h1
  Kliniki

%table.table
  %thead
    %tr
      %th Nazwa
      - if current_user.is_a? Admin
        %th Edytuj
        %th Usuń
      - else
        %th Wizyta
  %tbody
    - @clinics.each do |clinic|
      %tr
        %td= link_to clinic.name, clinic_path(clinic)
        - if current_user.is_a? Admin
          %td= link_to 'Edytuj', edit_clinic_path(clinic)
          %td= link_to 'Usuń', clinic_path(clinic), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć klinikę?' }
        - else
          %td= link_to 'Sprawdź terminy', clinic_path(clinic)

- if current_user.is_a? Admin
  = simple_form_for Clinic.new do |f|
    = f.error_notification
    = f.input :name
    = f.button :submit, 'Dodaj klinikę'
